#searchDiv svg {
	height: 1.5rem;
	width: 1.5rem;
}
#searchDiv {
	row-gap: 0.25rem;
	column-gap: 0.5rem;
	margin: 0.5rem;
}
button, #history, input {
	appearance: none !important;
-webkit-appearance: none !important;
	height: 2rem;
	width: 2rem;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: currentColor;
	background-color: #e9e9ed;
	border: 0.0625rem solid #7f7f7f;
	text-decoration: none;
}
#search {
	padding: 0.5rem;
	width: 10rem;
}
@media screen and (prefers-color-scheme: dark) {
	button, #history, input {
		background-color: #2b2a33;
		border-color: #8b8b90;
	}
}
@media print {
	#alertEl, nav, #searchDiv {
		display: none;
	}
}
